extends layout_login

block content
    div.jumbotron
        h1 Hello!

        form#loginForm
            div.form-group
                label Username
                input#usernameInput.form-control(type='text', name='username', required='true')
            div.form-group
                label Password
                input#passwordInput.form-control(type='password', name='password', required='true')
            button.btn.btn-default Login


        script.
            $(document).ready(function () {
                $('#loginForm').submit(function () {
                    var username = $('#usernameInput').val();
                    var password = $('#passwordInput').val();

                    $.ajax(
                            {
                                'password': password,
                                'username': username,
                                'url': '/video',
                                'type': 'GET',
                                'success': function () {
                                    window.location = '/video';
                                },
                                'error': function () {
                                    alert('Bad Login Details');
                                },
                            }
                    );

                    return false;
                });
            });