html
    head
        title=title
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-1.12.0.min.js')
        script(src='/javascripts/bootstrap.min.js')
    body
        nav.navbar.navbar-inverse
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='/') Vuga TV
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li: a(href='/video') Videos
                        li: a(href='/videoGrp') Video Groups
                        li: a(href='/music') Music                        
                        li: a(href='/artist') Artists
                        li: a(href='/advert') Adverts
                        li: a(href='/tv') Tv's
                        li: a(href='/radios') Radios
                        li: a(href='/user') Users


        div.container(style='min-height: 80%')
            block content

        div.panel-footer
                p(align='center') 2016 Vuga Ltd


