html
    head
        title= VideoGroups
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/datatables.css')
        script(src='/javascripts/jquery-1.12.0.min.js')
        script(src='/javascripts/bootstrap.min.js')
    body
        nav.navbar.navbar-inverse
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='/') Vuga TV
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li: a(href='/video') Videos
                        li: a(href='/videoGrp') Video Groups
                        li: a(href='/music') Music                        
                        li: a(href='/artist') Artists
                        li: a(href='/advert') Adverts
                        li: a(href='/tv') Tv's
                        li: a(href='/radios') Radios
                        li: a(href='/user') Users


        div.container(style='min-height: 80%')
            a.btn.btn-primary(href='/videoGrp/create') Add new Video Group
            h2#count 
            table#videogrp.table.table-striped.table-bordered.table-hover

        div.panel-footer
                p(align='center') 2016 Vuga Ltd


    script(src='/javascripts/datatables.js')
    script(src='/javascripts/lodash.min.js')
    //script(src='/javascripts/buttons.colVis.min.js')
    //script(src='/javascripts/buttons.html5.min.js')
    //script(src='/javascripts/dataTables.buttons.min.js')
    //script(src='/javascripts/jquery.dataTables.min.js')
    //script(src='/javascripts/jszip.min.js')
    //script(src='/javascripts/pdfmake.min.js')
    //script(src='/javascripts/pdfmake.min.js')
    //script(src='/javascripts/vfs_fonts.js')
    script(type='text/javascript').
      var users = !{items}
      $('#count').text(""+_.size(users)+" Video groups");
      var p = _.map(users,_.partialRight(_.pick, ['title','featured','image_path','available', '_id','_id']));
      console.log(p);
      var d = _.map(p,_.values);
      $('#videogrp').DataTable( {
      data: p,
      columns: [
      {
      title: 'Video groups',
      data: 'title'
      },
      {
      title: 'App index',
      type: 'num',
      data: 'featured'
      },      
      {
      title: 'Image',
      data: 'image_path',
      render: function (data, type, row, meta) {
      return '<img src="' + data + '"width="80px" height="80px"/>'
      }
      },
      {
      title: 'Is Available',
      type: 'boolean',
      data: 'available'
      
      },
      {
      title: 'Edit',
      data: '_id',
      render: function (data, type, row, meta) {
      return '<a href="/videoGrp/' + data + '/edit/">' + 'Edit' + '</a>'
      }},
      {
      title: 'Delete',
      data: '_id',
      render: function (data, type, row, meta) {
      return '<a href="/videoGrp/' + data + '/delete/" onclick="return confirm(&quot;Do you really want to remove this item?&quot;);">' + 'Delete' + '</a>'
      }}
      ]      
      } );

      
