body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.hide_column{
    display : none;
}


#circularG{
	position:relative;
	width:105px;
	height:105px;
	margin: auto;
}

.circularG{
	position:absolute;
	background-color:rgb(0,0,0);
	width:25px;
	height:25px;
	border-radius:16px;
		-o-border-radius:16px;
		-ms-border-radius:16px;
		-webkit-border-radius:16px;
		-moz-border-radius:16px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:0.628s;
		-o-animation-duration:0.628s;
		-ms-animation-duration:0.628s;
		-webkit-animation-duration:0.628s;
		-moz-animation-duration:0.628s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#circularG_1{
	left:0;
	top:42px;
	animation-delay:0.238s;
		-o-animation-delay:0.238s;
		-ms-animation-delay:0.238s;
		-webkit-animation-delay:0.238s;
		-moz-animation-delay:0.238s;
}

#circularG_2{
	left:11px;
	top:11px;
	animation-delay:0.314s;
		-o-animation-delay:0.314s;
		-ms-animation-delay:0.314s;
		-webkit-animation-delay:0.314s;
		-moz-animation-delay:0.314s;
}

#circularG_3{
	top:0;
	left:42px;
	animation-delay:0.39s;
		-o-animation-delay:0.39s;
		-ms-animation-delay:0.39s;
		-webkit-animation-delay:0.39s;
		-moz-animation-delay:0.39s;
}

#circularG_4{
	right:11px;
	top:11px;
	animation-delay:0.466s;
		-o-animation-delay:0.466s;
		-ms-animation-delay:0.466s;
		-webkit-animation-delay:0.466s;
		-moz-animation-delay:0.466s;
}

#circularG_5{
	right:0;
	top:42px;
	animation-delay:0.542s;
		-o-animation-delay:0.542s;
		-ms-animation-delay:0.542s;
		-webkit-animation-delay:0.542s;
		-moz-animation-delay:0.542s;
}

#circularG_6{
	right:11px;
	bottom:11px;
	animation-delay:0.628s;
		-o-animation-delay:0.628s;
		-ms-animation-delay:0.628s;
		-webkit-animation-delay:0.628s;
		-moz-animation-delay:0.628s;
}

#circularG_7{
	left:42px;
	bottom:0;
	animation-delay:0.704s;
		-o-animation-delay:0.704s;
		-ms-animation-delay:0.704s;
		-webkit-animation-delay:0.704s;
		-moz-animation-delay:0.704s;
}

#circularG_8{
	left:11px;
	bottom:11px;
	animation-delay:0.78s;
		-o-animation-delay:0.78s;
		-ms-animation-delay:0.78s;
		-webkit-animation-delay:0.78s;
		-moz-animation-delay:0.78s;
}



@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}
