#help-actions.btn-floating
  .btn-bg
  button.btn.btn-default.btn-toggle(type='button', data-toggle='toggle', data-target='#help-actions')
    i.icon.fa.fa-plus
    span.help-text Shortcut
  .toggle-content
    ul.actions
      li
        a(href='#') Chats
      li
        a(href='#') Active users
      li
        a(href='#') Day-to-day data
      li
        a(href='#') Admin settings

.cssload-preloader#load(style='background-color: lightblue;' width='300')
  span Z
  span i
  span r
  span i
  span k
  span u
  span z
  span a
.row
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-green-light
      .card-body
        i.icon.fa.fa-hand-scissors-o.fa-4x
        .content
          .title All users usage
          .value#users_usage
            span.sign 
            | XXX
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-yellow-light
      .card-body
        i.icon.fa.fa-meh-o.fa-4x
        .content
          .title Active users today
          .value#users_active
            span.sign
            | XXX
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-yellow-light
      .card-body
        i.icon.fa.fa-user-plus.fa-4x
        .content
          .title New users today
          .value#users_new
            span.sign
            | XXX

.row
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-green-light
      .card-body
        i.icon.fa.fa-tv.fa-4x
        .content
          .title TV 
          .value#count_tv
            span.sign $
            | XXX
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-green-light
      .card-body
        i.icon.fa.fa-youtube-play.fa-4x
        .content
          .title Movies
          .value#count_video
            span.sign
            | XXX
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-green-light
      .card-body
        i.icon.fa.fa-volume-up.fa-4x
        .content
          .title Radio
          .value#count_radios
            span.sign
            | XXX

.row
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-green-light
      .card-body
        i.icon.fa.fa-music.fa-4x
        .content
          .title Music 
          .value#count_music
            span.sign $
            | XXX
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-green-light
      .card-body
        i.icon.fa.fa-globe.fa-4x
        .content
          .title Web
          .value#count_web
            span.sign
            | XXX
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-green-light
      .card-body
        i.icon.fa.fa-thumbs-o-up.fa-4x
        .content
          .title Others
          .value#count_others
            span.sign
            | XXX

footer.app-footer
  .row
    .col-xs-12
      .footer-copyright
        | VugaTV © 2016 Vuga, Ltd.
script.
 var d = !{data};
 $('#users_usage').text(d.all_count_int);
 $('#users_active').text(d.user_active_count_int);
 $('#users_new').text(d.user_new_count_int);
 $('#count_tv').text(d.tv_count_int);
 $('#count_video').text(d.video_count_int);
 $('#count_radios').text(d.radio_count_int);
 $('#count_music').text(d.music_count_int);
 $('#count_web').text(d.web_count_int);
 $('#count_others').text(d.other_count_int);
 $('#count_msg').text(d.count_msg);

 //init date
 $('#load').hide();
 $("#search").click(function() {
 var day = $('#date1').val();
 if(day!=undefined && day!=""){
 var today = new Date();
 today.setHours(0,0,0,0);
 var dc = new Date(day +" 0:00:00");
 if(today.getTime() == dc.getTime()){
 // Mumble Mumble
 sweetAlert("Mumble mumble!", "Choose another date that is not Today", "error");
 }
 else{
 // Send new date
 $('#load').show();
 var unix = dc.getTime();
 sendDate({unix_time: ""+parseInt(unix+7200000)}, function(dax){
 console.log(dax);
 if(dax.success != undefined){
 var da =  dax.success;
 // reload data
 $('#users_usage').text(da.all_count_int);
 $('#users_active').text(da.user_active_count_int);
 $('#users_new').text(da.user_new_count_int);
 $('#count_tv').text(da.tv_count_int);
 $('#count_video').text(da.video_count_int);
 $('#count_radios').text(da.radio_count_int);
 $('#count_music').text(da.music_count_int);
 $('#count_web').text(da.web_count_int);
 $('#count_others').text(da.other_count_int);
 $('#count_msg').text(da.count_msg);
 $('#load').hide();
 }
 else if (dax.success == undefined){
 // Show error
 $('#load').hide();
 sweetAlert("No data", "Please choose a different date!", "error");
 }
 else{
 // Show error
 $('#load').hide();
 sweetAlert("Error 500", "Error 500", "error");
 }
 })

 }
 console.log(dc.getTime())
 }
 else{
 sweetAlert("Invalid Date", "Please choose a date on the calender!", "error");
 }
 });

 


 


