doctype html
html
  head
    title Dashboard - VugaTV Admin
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='../assets/css/vendor.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/flat-admin.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/sweetalert.css')
    // Theme
    link(rel='stylesheet', type='text/css', href='../assets/css/theme/blue-sky.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/theme/blue.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/theme/red.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/theme/yellow.css')
    script(type='text/javascript', src='../assets/js/vendor.js')
    script(type='text/javascript', src='../assets/js/app.js')
    link(rel='stylesheet', href='../assets/css/jquery-ui.css')
    link(rel='stylesheet', href='../assets/black/theme.css')
    script(src='../assets/js/jquery-1.12.4.js')
    script(src='../assets/js/jquery-ui.js')
    script(type='text/javascript', src='../assets/js/sweetalert.min.js')
    link(rel='stylesheet', type='text/css', href='../assets/css/sweetalert.css')
    script(type='text/javascript', src='../assets/js/a.js')
    script(type='text/javascript').
      $(document).ready(function(){
      
      $('#date1').focus(function(){
      $('#date1').datepicker();
      $('#date1').datepicker('show');
      });
      $('#date1').click(function(){
      $('#date1').datepicker();
      $('#date1').datepicker('show');
      });
      //$('#ui-datepicker-div').show();
      $('#date1').datepicker('show');
      });

  body
    block content