aside#sidebar.app-sidebar
  .sidebar-header
    a.sidebar-brand(href='#')
      span.highlight Vuga
      |  TV
    button.sidebar-toggle(type='button')
      i.fa.fa-times
  .sidebar-menu
    ul.sidebar-nav
      li.active
        a(href='javascript:;')
          .icon
            i.fa.fa-tasks(aria-hidden='true')
          .title Dashboard
      li.menu.messaging
        a(href='/chat')
          .icon
            i.fa.fa-comments(aria-hidden='true')
          .title Messaging
  .sidebar-footer
    ul.menu
      li
        a.dropdown-toggle(href='/', data-toggle='dropdown')
          i.fa.fa-cogs(aria-hidden='true')
      li
        a(href='javascript:;')
          span.flag-icon.flag-icon-rw.flag-icon-squared
