nav#navbar.navbar.navbar-default
  .container-fluid
    .navbar-collapse.collapse.in
      ul.nav.navbar-nav.navbar-mobile
        li
          button.sidebar-toggle(type='button')
            i.fa.fa-bars
        li.logo
          a.navbar-brand(href='#')
            span.highlight Vuga
            |  TV
        li
          button.navbar-toggle(type='button')
            img.profile-img(src='../img/vugapay_mono.png')
      ul.nav.navbar-nav.navbar-left
        li.navbar-title Dashboard
        li.navbar-search.hidden-sm
          input#date1(type='text', placeholder='Search..')
          button#search.btn-search
            i.fa.fa-search
      ul.nav.navbar-nav.navbar-right
        li.dropdown.notification.warning
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            .icon
              i.fa.fa-comments(aria-hidden='true')
            .title Unread Messages
            .count#count_msg 0
          .dropdown-menu
            ul
              li.dropdown-header Message
              li.dropdown-footer
                a(href='/chat' target='_blank')
                  | View All 
                  i.fa.fa-angle-right(aria-hidden='true')
        li.dropdown.profile
          a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
            img.profile-img(src='../img/vugapay_mono.png')
            .title Profile
          .dropdown-menu
            .profile-info
              h4.username Vuga Support Team
            ul.action
              li
                a(href='javascript:;')
                  | Profile
              li
                a(href='javascript:;')
                  span.badge.badge-danger.pull-right#count_msg 0
                  |                   My Inbox
              li
                a(href='javascript:;')
                  | Setting
              li
                a(href='javascript:;')
                  | Logout