extends ../layout

block content
    h1#tit Edit !{item.title}

    form(method='POST', enctype="multipart/form-data")
        div.form-group
            label Radio title
            input.form-control(type='text',required='true', name='title')
        div.form-group
            label Description
            textarea.form-control(type='text', name='description')
        div.form-group
            label Is this available?
            select#isAv.form-control(name='available')
                option(value='false') No
                option(value='true') Yes             
        div.form-group
            label Meta color
            input.form-control(type='text',  name='meta')
        div.form-group
            label Streaming Link
            input.form-control(type='text',required='true',  name='link')
        div.form-group
            label Featured
            input.form-control(type='number', name='featured')
        div.form-group
            label Lock
            input.form-control(type='text', name='lock')
        div.form-group
            label LockCode
            input.form-control(type='text', name='lockCode')
        div.form-group
            label Youtube Channel
            input.form-control(type='text', name='youtubeChannel')
        div.form-group
            label Image
            input.form-control(type='file',  name='image_file')
        button.btn.btn-default(type='submit') Update


    script.
        $(function () {

      
        function fill(a){
            for(var k in a){
                $('[name="'+k+'"]').val(a[k]);
            }
        }
        var ar = !{item};
        fill(ar);
        $("#isAv").val(""+ar.available);
        $("#tit").text("Edit '"+ar.title+"'"); 
        });
