extends ../layout

block content
    form(method='POST', enctype="multipart/form-data")
        div.form-group
            label Advert title
            input.form-control(type='text',required='true', name='title')
        div.form-group
            label Description
            textarea.form-control(type='text', name='description')
        div.form-group
            label Is this available?
            select#isAv.form-control(name='available')
                option(value='true') Yes 
                option(value='false') No
        div.form-group
            label Company name
            input.form-control(type='text', name='meta')
        div.form-group
            label Featured
            input.form-control(type='number', name='featured')
        div.form-group
            label Timeout
            input.form-control(type='number', name='timeout')
        div.form-group
            label Link of Advert
            input.form-control(type='text', name='link')
        div.form-group
            label Is the Ad a Video format?
            select#isVid.form-control(name='isVideo')
                option(value='false') No
                option(value='true') Yes
        div#isYoutube.form-group
            label Is it from Youtube
            select#isYt.form-control(name='isYoutube')
                option(value='false') No
                option(value='true') Yes
        div#ytUrl.form-group
            label Youtube URL
            input.form-control(type='text', name='youtubeUrl')
        div#imageFile.form-group
            label Image icon
            input.form-control(type='file', name='image_file')
        div#videoFile.form-group
            label Video file
            input.form-control(type='file', name='video_file')
        button.btn.btn-primary(type='submit') Create


    script.
        $(function () {


        $('#isYt').on('input', function (e) {
        var va = $('#isYt').val();
        console.log(va);
            if (va == 'false'){
            $('#videoFile').show();
            $('#ytUrl').hide();            
            }
            else{
             $('#videoFile').hide();
            $('#ytUrl').show();     
            }
        });   

        $('#isVid').on('input', function (e) {
        var vae = $('#isVid').val();
        //console.log(va);
            if (vae == 'false'){
            $('#imageFile').show();
            $('#videoFile').hide();
            $('#isYoutube').hide();
            $('#ytUrl').hide(); 
            }
            else{
            $('#imageFile').hide();
            $('#videoFile').show();
            $('#isYoutube').show();
            $('#ytUrl').show(); 
            }
        });


        var va = $('#isYt').val();
        console.log(va);
            if (va == 'false'){
            $('#videoFile').show();
            $('#ytUrl').hide();            
            }
            else{
             $('#videoFile').hide();
            $('#ytUrl').show();     
            }
        var vae = $('#isVid').val();
            if (vae == 'false'){
            $('#imageFile').show();
            $('#videoFile').hide();
            $('#isYoutube').hide();
            $('#ytUrl').hide(); 
            }
            else{
            $('#imageFile').hide();
            $('#videoFile').show();
            $('#isYoutube').show();
            $('#ytUrl').show(); 
            }
           

        });

