extends ../layout

block content
    h1 Adverts 

    a.btn.btn-primary(href='/advert/create') Add new Advert

    table.table.table-striped
        each advert in items
            tr
                td= advert.title
                td= advert.date
                td= advert.meta
                td= advert.available
                td
                    a(href='/advert/' + advert._id + '/delete/', onclick='return confirm("Do you really want to remove this item?");' ) Delete
                td
                    a(href='/advert/' + advert._id + '/edit/' ) Edit

