extends ../layout

block content
    h1#tit Edit !{item.title}

    form(method='POST', enctype="multipart/form-data")
        div.form-group
            label Video title
            input.form-control(type='text',required='true', name='title')
        div.form-group
            label Description
            textarea.form-control(type='text', name='description')
        div.form-group
            label Is this available?
            select#isAv.form-control(name='available')
                option(value='false') No
                option(value='true') Yes 
        div.form-group
            label  Meta Color
            input.form-control(type='text', name='meta')
        div.form-group
            label Featured
            input.form-control(type='number', name='featured')
        div.form-group
            label Group ID
            select#grpId.form-control(name='groupId')
        div.form-group
            label Is Youtube
            select#isYt.form-control(name='isYoutube')
                option(value='false') No
                option(value='true') Yes
        div#ytUrl.form-group
            label Youtube URL
            input.form-control(type='text', name='youtubeUrl')
        div.form-group
            label Image icon
            input.form-control(type='file', name='image_file')
        div#videoFile.form-group
            label Video file
            input.form-control(type='file', name='video_file')
        button.btn.btn-primary(type='submit') Update


    script.
        $(function () {
        function fill(a){
            for(var k in a){
                $('[name="'+k+'"]').val(a[k]);
            }
        }
        var ar = !{item};
        fill(ar);

        var vd = !{videoGrp};
        //set group id
        //$("#grpId").val(ar.groupId);
        $("#isYt").val(""+ar.isYoutube);
        $("#isAv").val(""+ar.available);
        $("#tit").text("Edit '"+ar.title+"'"); 

        $.each(vd, function (i, it) {
            $('#grpId').append($('<option>', { 
                value: it.gid,
                text : it.title 
            }));
        });

        $('#isYt').on('input', function (e) {
        var va = $('#isYt').val();
        //console.log(va);
            if (va == 'false'){
            $('#videoFile').show();
            $('#ytUrl').hide();            
            }
            else{
             $('#videoFile').hide();
            $('#ytUrl').show();     
            }
        });   

        $('#grpId').on('input', function (e) {
        var v = $('#grpId').val();
        console.log(v);
          
        });             

        var va = $('#isYt').val();
        console.log(va);
            if (va == 'false'){
            $('#videoFile').show();
            $('#ytUrl').hide();            
            }
            else{
             $('#videoFile').hide();
            $('#ytUrl').show();     
            }
        });
