extends ../layout

block content
    h1 Sent Push 

    a.btn.btn-primary(href='/push/') Send new push

    table.table.table-striped
        each push in items
            tr
                td= push.title
                td= push.message
                td= push.click_action
                td
                    a(href='/push/' + push._id + '/delete/', onclick='return confirm("Do you really want to remove this item?");' ) Delete
                

