




.app.app-default aside.app-sidebar {
  background-color: #FFF; }
  .app.app-default aside.app-sidebar .sidebar-header .sidebar-brand .highlight {
    background-color: #007a6d; }
  .app.app-default aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .icon {
    background-color: rgba(141, 146, 147, 0.15);
    color: rgba(141, 146, 147, 0.45); }
  .app.app-default aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .title {
    color: #8d9293; }
  .app.app-default aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.active > a .icon {
    background-color: rgba(41, 199, 95, 0.25);
    color: rgba(41, 199, 95, 0.75); }
  .app.app-default aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.active > a .title {
    color: #007a6d; }
  .app.app-default aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.dropdown > .dropdown-menu > ul > li.section {
    color: #007a6d; }
  .app.app-default aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.dropdown.open > a:after {
    border-right-color: #FFF; }
  .app.app-default aside.app-sidebar .sidebar-footer {
    border-top-color: rgba(0, 0, 0, 0.1);
    background-color: #FFF; }
    .app.app-default aside.app-sidebar .sidebar-footer ul.menu > li.dropdown .dropdown-menu {
      border-bottom-color: #007a6d; }

.app.app-default .navbar .navbar-header .navbar-brand .highlight, .app.app-default .navbar .navbar-mobile .navbar-brand .highlight {
  background-color: #007a6d; }

.app.app-default .ct-series-a .ct-bar, .app.app-default .ct-series-a .ct-line, .app.app-default .ct-series-a .ct-point {
  stroke: #007a6d; }

.app.app-default .ct-series-a .ct-area {
  fill: #007a6d; }

.app.app-default .ct-series-a .ct-slice-pie {
  fill: #007a6d;
  stroke: #FFF;
  stroke-width: 3; }

.app.app-default .ct-series-a .ct-slice-donut {
  stroke: #007a6d; }

.app.app-default .ct-series-b .ct-bar, .app.app-default .ct-series-b .ct-line, .app.app-default .ct-series-b .ct-point {
  stroke: #39c3da; }

.app.app-default .ct-series-b .ct-area {
  fill: #39c3da; }

.app.app-default .ct-series-b .ct-slice-pie {
  fill: #39c3da;
  stroke: #FFF;
  stroke-width: 3; }

.app.app-default .ct-series-b .ct-slice-donut {
  stroke: #39c3da; }

.app.app-default .ct-series-a:after {
  background-color: #007a6d; }

.app.app-default .ct-series-b:after {
  background-color: #39c3da; }

.app.app-default .card-banner .ct-series-a .ct-bar, .app.app-default .card-banner .ct-series-a .ct-line, .app.app-default .card-banner .ct-series-a .ct-point {
  stroke: #FFF; }

.app.app-default .card-banner .ct-series-a .ct-area {
  fill: #FFF; }

.app.app-default .card-banner .ct-series-a .ct-slice-pie {
  fill: white;
  stroke: #FFF;
  stroke-width: 3; }

.app.app-default .card-banner .ct-series-a .ct-slice-donut {
  stroke: #FFF; }

.app.app-default .card.card-tab .card-header > ul > li.active a, .app.app-default .card.card-tab ul.nav-tabs > li.active a {
  color: #007a6d; }

.app.app-default .card.card-tab > .ng-isolate-scope > .nav-tabs > li.active a {
  color: #007a6d; }
