extends ../layout

block content
    h1#tit Edit !{item.title}

    form(method='POST', enctype="multipart/form-data")
        div.form-group
            label Music title
            input.form-control(type='text',required='true', name='title')
        div.form-group
            label Description
            textarea.form-control(type='text', name='description')
        div.form-group
            label Is this available?
            select#isAv.form-control(name='available')
                option(value='false') No
                option(value='true') Yes             
        div.form-group
            label  Meta Color
            input.form-control(type='text', name='meta')
        div.form-group
            label Featured
            input.form-control(type='number', name='featured')
        div.form-group
            label Artists
            select#grpId.form-control(name='artistId')
        div.form-group
            label Youtube URL
            input.form-control(type='text', name='youtubeUrl')
        div.form-group
            label Image icon
            input.form-control(type='file', name='image_file')
        div#videoFile.form-group
            label Mp3 file
            input.form-control(type='file', name='audio_file')
        button.btn.btn-primary(type='submit') Update


    script.
        $(function () {
        function fill(a){
            for(var k in a){
                $('[name="'+k+'"]').val(a[k]);
            }
        }
        var ar = !{item};
        fill(ar);

        var vd = !{artist};
        $("#isAv").val(""+ar.available);
        $("#tit").text("Edit '"+ar.title+"'"); 

        $.each(vd, function (i, it) {
            $('#grpId').append($('<option>', { 
                value: it.aid,
                text : it.title 
            }));
        });



        });
