extends ../layout

block content
    h1 Music (Songs)

    a.btn.btn-primary(href='/music/create') Add new Music

    table.table.table-striped
        each music in items
            tr
                td= music.title
                td= music.date
                td= music.artistName
                td= music.available
                td
                    a(href='/music/' + music._id + '/delete/', onclick='return confirm("Do you really want to remove this item?");' ) Delete
                td
                    a(href='/music/' + music._id + '/edit/' ) Edit

