
.app-messaging-container
  #collapseMessaging.app-messaging
    .chat-group
      .heading Converstion
      ul.group.full-height
        li.section unread
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            span.badge.badge-warning.pull-right 10
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            span.badge.badge-warning.pull-right 10
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.section readed
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
        li.message
          a(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            .message
              img.profile(src='https://placehold.it/100x100')
              .content
                .title "Payment Confirmation.."
                .description Alan Anderson
    .messaging
      .heading
        .title
          a.btn-back(data-toggle='collapse', href='#collapseMessaging', aria-expanded='false', aria-controls='collapseMessaging')
            i.fa.fa-angle-left(aria-hidden='true')
          |             Lucia  Marshall 
          span.badge.badge-success.badge-icon
            i.fa.fa-circle(aria-hidden='true')
            span Online
        .action
      ul.chat
        li.line
          .title 24 Jun 2016
        li
          .message
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          .info
            .datetime 11.45pm
            .status
              i.fa.fa-check(aria-hidden='true')
              |  Read
        li
          .message Lorem ipsum dolor sit amet, consectetur eiusmod tempor incididunt
          .info
            .datetime 11.45pm
            .status
              i.fa.fa-check(aria-hidden='true')
              |  Read
        li.right
          .message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          .info
            .datetime 11.46pm
        li
          .message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          .info
            .datetime 11.45pm
            .status
              i.fa.fa-check(aria-hidden='true')
              |  Read
        li
          .message
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          .info
            .datetime 11.45pm
            .status
              i.fa.fa-check(aria-hidden='true')
              |  Read
        li
          .message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          .info
            .datetime 11.45pm
            .status
              i.fa.fa-check(aria-hidden='true')
              |  Read
        li
          .message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          .info
            .datetime 11.45pm
            .status
              i.fa.fa-check(aria-hidden='true')
              |  Read
        li.line
          .title 25 Jun 2016
        li.right
          .message
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          .info
            .datetime 11.46pm
        li
          .message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          .info
            .datetime 11.45pm
            .status
              i.fa.fa-check(aria-hidden='true')
              |  Read
        li
          .message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          .info
            .datetime 11.45pm
            .status
              i.fa.fa-check(aria-hidden='true')
              |  Read
        li.right
          .message
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          .info
            .datetime 11.46pm
      .footer
        .message-box
          textarea.form-control(placeholder='type something...')
          button.btn.btn-default
            i.fa.fa-paper-plane(aria-hidden='true')
            span Send
  script(type='text/javascript', src='../assets/js/vendor.js')
  script(type='text/javascript', src='../assets/js/app.js')