#help-actions.btn-floating
  .btn-bg
  button.btn.btn-default.btn-toggle(type='button', data-toggle='toggle', data-target='#help-actions')
    i.icon.fa.fa-plus
    span.help-text Shortcut
  .toggle-content
    ul.actions
      li
        a(href='#') Website
      li
        a(href='#') Documentation
      li
        a(href='#') Issues
      li
        a(href='#') About
.row
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-green-light
      .card-body
        i.icon.fa.fa-shopping-basket.fa-4x
        .content
          .title Sale Today
          .value
            span.sign $
            | 420
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-blue-light
      .card-body
        i.icon.fa.fa-thumbs-o-up.fa-4x
        .content
          .title Page Likes
          .value
            span.sign
            | 2453
  .col-lg-4.col-md-6.col-sm-6.col-xs-12
    a.card.card-banner.card-yellow-light
      .card-body
        i.icon.fa.fa-user-plus.fa-4x
        .content
          .title New Registration
          .value
            span.sign
            | 50
.row
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    .card.card-mini
      .card-header
        .card-title Last Statuses
        ul.card-action
          li
            a(href='/')
              i.fa.fa-refresh
      .card-body.no-padding.table-responsive
        table.table.card-table
          thead
            tr
              th Products
              th.right Amount
              th Status
          tbody
            tr
              td MicroSD 64Gb
              td.right 12
              td
                span.badge.badge-success.badge-icon
                  i.fa.fa-check(aria-hidden='true')
                  span Complete
            tr
              td MiniPC i5
              td.right 5
              td
                span.badge.badge-warning.badge-icon
                  i.fa.fa-clock-o(aria-hidden='true')
                  span Pending
            tr
              td Mountain Bike
              td.right 1
              td
                span.badge.badge-info.badge-icon
                  i.fa.fa-credit-card(aria-hidden='true')
                  span Confirm Payment
            tr
              td Notebook
              td.right 10
              td
                span.badge.badge-danger.badge-icon
                  i.fa.fa-times(aria-hidden='true')
                  span Cancelled
            tr
              td Raspberry Pi2
              td.right 6
              td
                span.badge.badge-primary.badge-icon
                  i.fa.fa-truck(aria-hidden='true')
                  span Shipped
            tr
              td Flashdrive 128Mb
              td.right 40
              td
                span.badge.badge-info.badge-icon
                  i.fa.fa-credit-card(aria-hidden='true')
                  span Confirm Payment
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    .card.card-tab.card-mini
      .card-header
        ul.nav.nav-tabs.tab-stats
          li.active(role='tab1')
            a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') Browsers
          li(role='tab2')
            a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') OS
          li(role='tab2')
            a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') More
      .card-body.tab-content
        #tab1.tab-pane.active(role='tabpanel')
          .row
            .col-sm-8
              .chart.ct-chart-browser.ct-perfect-fourth
            .col-sm-4
              ul.chart-label
                li.ct-label.ct-series-a Google Chrome
                li.ct-label.ct-series-b Firefox
                li.ct-label.ct-series-c Safari
                li.ct-label.ct-series-d IE
                li.ct-label.ct-series-e Opera
        #tab2.tab-pane(role='tabpanel')
          .row
            .col-sm-8
              .chart.ct-chart-os.ct-perfect-fourth
            .col-sm-4
              ul.chart-label
                li.ct-label.ct-series-a iOS
                li.ct-label.ct-series-b Android
                li.ct-label.ct-series-c Windows
                li.ct-label.ct-series-d OSX
                li.ct-label.ct-series-e Linux
        #tab3.tab-pane(role='tabpanel')
footer.app-footer
  .row
    .col-xs-12
      .footer-copyright
        | Copyright © 2016 Company Co,Ltd.
script(type='text/javascript', src='../assets/js/vendor.js')
script(type='text/javascript', src='../assets/js/app.js')
