    footer.app-footer
      .row
        .col-xs-12
          .footer-copyright
            | Copyright © 2016 Vuga Ltd.
script(type='text/javascript', src='../assets/js/vendor.js')
script(type='text/javascript', src='../assets/js/app.js')
