doctype html
html
  head
    title Vuga TV Admin
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='../assets/css/vendor.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/flat-admin.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/sweetalert.css')
    // Theme
    link(rel='stylesheet', type='text/css', href='../assets/css/theme/blue-sky.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/theme/blue.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/theme/red.css')
    link(rel='stylesheet', type='text/css', href='../assets/css/theme/yellow.css')
  body
    block content